.btn {
   font-size: 14px;
   font-weight: 500;
   min-width: 80px;
   height: 36px;
   text-align: center;
   padding: 8px 16px 8px;
   border-radius: var(--border-radius);
   cursor: pointer;
}
.btn + .btn {
   margin-left: 12px;
}
.btn-primary {
   background-color: #50b83c;
   color: #fff;
}
.btn-primary:active {
   background-color: #055b27;
}
.btn-primary:hover {
   background-color: rgb(115, 198, 99);
}
.btn.btn--icon {
   padding-left: 12px;
}
.btn--icon > i {
   font-size: 16px;
   margin-right: 4px;
}
.btn-sub {
   background-color: #fff;
   color: #1f1f1f;
   font-weight: 600;
   border: 1px solid #3b3b3b;
}
.btn-sub:focus {
   border: 1px solid #000;
   background-color: #ebebeb;
}
.btn-delete {
   background-color: #ff0000;
   color: #fff;
   font-weight: 600;
}
.btn-delete:hover {
   background-color: #b81919;
}
