.m-checkbox-wrapper {
   display: flex;
   align-items: center;
}
.m-checkbox-wrapper + .m-checkbox-wrapper {
   margin-left: 24px;
}
.m-checkbox-wrapper > input {
   width: 20px;
   height: 20px;
   margin-right: 8px;
}
.checkbox-content {
   font-size: 14px;
}
