.m-table-wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.m-table__content {
   flex: 1;
   overflow: auto;
}
table {
   /* position: relative; */
   width: 100%;
   border-spacing: 0;
   border-radius: var(--border-radius);
   /* border-collapse: collapse; */
}

tdody {
   display: contents;
}

th,
td {
   height: 48px;
   padding: 0 12px;
   border-bottom: 1px solid #c7c7c7;
   border-right: 1px dotted #c7c7c7;
   /* white-space: pre-wrap; */
}
th {
   background-color: #eeeeee;
   position: sticky;
   top: 0;
   font-size: 14px;
   font-weight: 700;
   line-height: 18px;
   text-align: left;
   color: #1f1f1f;
}
.th-anchor {
   text-align: center;
   z-index: 2;
   left: 0;
}
.th-anchor--end {
   left: unset;
   right: 0;
   border-right: unset;
   border-left: 1px dotted #c7c7c7;
}
th + .th-anchor--end {
   border-right: unset;
}
tr:hover {
   background-color: #f2f9ff;
}
tr:hover > td {
   background-color: #f2f9ff;
}

.td-anchor {
   position: sticky;
   text-align: center;
   background-color: #fff;
   z-index: 1;
}
.td-anchor--start {
   left: 0;
}
.td-anchor--end {
   /* left: unset; */
   right: 0;
   border-right: unset;
   border-left: 1px dotted #c7c7c7;
}
.td-anchor--end a {
   text-decoration: none;
   font-size: 13px;
   font-weight: 600;
   color: #0075c0;
}
td > input,
th > input {
   cursor: pointer;
}
/* scrollbar */
::-webkit-scrollbar {
   width: 10px;
   height: 10px;
   cursor: cell;
}

::-webkit-scrollbar-thumb {
   background: #9e9e9e;
   border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
   background: #e0e0e0;
}
::-webkit-scrollbar-track {
   background: #eeeeee;
}
/*  pagination */
.m-table_pagination {
   height: 48px;
   justify-content: space-between;
}
.btn-pagination {
   font-size: 14px;
   color: #3e3e3e;
   cursor: pointer;
}
.btn-pagination__prev {
   margin-right: 12px;
   color: #9e9e9e;
   cursor: none;
   pointer-events: none;
}
.btn-pagination__last {
   margin-left: 12px;
}
.page-item {
   width: 24px;
   height: 24px;
   text-align: center;
   line-height: 24px;
   font-size: 14px;
   color: #3e3e3e;
   cursor: pointer;
}
.page-item--current {
   border: 1px solid #3e3e3e;
   color: #111;
   font-weight: 600;
}
