.m-toast-wrapper {
   position: fixed;
   right: -500px;
   bottom: 40px;
   display: none;
}
.toast-message {
   width: 450px;
   height: 56px;
   display: flex;
   align-items: center;
   padding: 0 16px;
   background-color: #fff;
   border-radius: var(--border-radius);
   border: 1px solid #ccc;
   box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.078);
}
.toast-icon {
   font-size: 20px;
   margin-right: 8px;
}
.toast-icon--succes {
   color: #50b83c;
}
.toast-content {
   font-size: 14px;
   color: #1f1f1f;
   text-align: left;
   flex: 1;
}
.toast-title {
   font-weight: 700;
}
.toast-title--success {
   color: #50b83c;
}
/* .toast-text {
} */
.toast-action {
   font-size: 14px;
   font-weight: 500;
   color: #000;
}
.toast-close {
   font-size: 16px;
   padding-left: 16px;
   color: #1f1f1f;
   background-color: transparent;
   cursor: pointer;
}
